@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
   font-family: 'Barlow', sans-serif;
   background-position: center;
   height: 1000px;
   background-repeat: no-repeat;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* comman */

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

/* header */

header {
    position: absolute;
    width: 100%;
}

.banner {
    background-image: url(/Assets/img/Background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.left img {
    position: relative;
    left: 135px;
    height: 40px;
    top: 31px;
    width: 218px;
}
/* buttens */
.btn {
    border: 2px solid transparent;
    position: relative;
    color: #ffff;
    background: #D5905C;
    cursor: pointer;
}

.btn:hover {
    color: #D5905C;
    background: transparent;
    border-color: #D5905C;
}

/* End of Buttens  */

/* Header Text */
.text {
    position: relative;
    color: #fff;
    padding-top: 282px;
    padding-left: 140px;
    padding-bottom: 445px;
}

.right .btn {
    margin-left: 1331px;
    padding: 16px 33px;
    margin-top: 27px;
    border-radius: 5px;
}

.text h1 {
    font-size: 72px;
}

.text p {
    margin-top: 24px;
    font-size: 19px;
    font-weight: 300;
}
/* End of Header  */

/* Connect */

/* Connect Coxs */
.connect .box {
    width: 1200px;
    background: #24252D;
    height: 422px;
    bottom: 211px;
    position: relative;

}

.connect .box-1 {
    position: relative;
    height: 1px;
    width: 150px;
    top: 84px;
    left: 400px;
    background: #D5905C;
}
/* End of Connect Boxs */

.connect h1 {
    position: relative;
    font-size: 37px;
    font-weight: bold;
    top: 59px;
    color: white;
    left: 135px;
}
/* Input */
.input-wrap {
    padding-left: 120px;
    padding-top: 114px;    
    position: relative;
}

.input-wrap .a-1 {
    padding: 20px 220px 20px 30px;
    border: 2px solid transparent;
    background: #2F2F36;
    border-color: rgb(119, 118, 118);
    color: #D5905C;
    font-size: 17px;
}

.input-wrap .a-2 {
    margin-left: 14px;
}

.input-wrap-1 {
    position: relative;
    padding-left: 120px;
    margin-top: 20px;
}

.input-wrap-1 .a-1 {
    padding: 20px 120px 20px 30px;
    border: 2px solid transparent;
    background: #2F2F36;
    border-color: rgb(119, 118, 118);
    color: #D5905C;
    font-size: 17px;
}

.input-wrap-1 .a-2 {
    margin-left: 14px;
}

.input-wrap-1 .btn {
    padding: 22px 73px;
    margin-left: 16px;
}

/* End of Input */

/* End of connect */